.dashbutton, .medbutton, .foodbutton, .exercisebutton, .sleepbutton, .journalbutton {
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-background-color: #E29578;
    -fx-background-radius: 30px;
    -fx-text-fill: #000000;
    -fx-border-color: #FFDDD2;
    -fx-border-radius: 25px;
}

.medicationlabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 17px;
    -fx-text-fill: #FFDDD2;
    -fx-font-weight: bold;
}

.wellnesslabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20px;
    -fx-text-fill: #FFDDD2;
    -fx-font-weight: bold;
}

.descriptionlabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 22px;
    -fx-text-fill: #FFDDD2;
}

.elevatelabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 24px;
    -fx-text-fill: #e29578
}

.emaillabel, .passwordlabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 22px;
    -fx-text-fill: #e29578;
}

.signinbutton, .createaccountbutton {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #E29578;
    -fx-text-fill: #006D77;
    -fx-font-weight: bold;
}

.accountlabel {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI";
   -fx-font-size: 16px;

}

.dashboardlabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 24px;
    -fx-text-fill: #EDF6F9;
    -fx-font-weight: bold;
}


.tracklabel {
    -fx-text-fill: #000000;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.sidebackground {
    -fx-background-color: #EDF6F9;
}

.addbutton, .updatebutton, .deletebutton, .clearbutton, .savebutton, .uploadbutton {
    -fx-background-color: #E29578;
    -fx-background-radius: 30px;
    -fx-text-fill: #000000;
    -fx-border-color: #FFDDD2;
    -fx-border-radius: 25px;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.apppointmentbutton, .tutorialsbutton, .calendarbutton, .friendsbutton, .chatbutton, .reviewsbutton, .logoutbutton, .updatepass {
    -fx-background-color: #E29578;
    -fx-background-radius: 30px;
    -fx-text-fill: #000000;
    -fx-border-color: #FFDDD2;
    -fx-border-radius: 25px;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
}

.medlabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 17px;
    -fx-text-fill: #FFDDD2;
    -fx-font-weight: bold;
}

.wellnesslabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20px;
    -fx-text-fill: #FFDDD2;
    -fx-font-weight: bold;
}

.descriptionlabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 26px;
    -fx-text-fill: #FFDDD2;
    -fx-font-weight: bold;
}

.elevatelabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 24px;
    -fx-text-fill: #e29578;
    -fx-font-weight: bold;
}

.emaillabel, .passwordlabel, .changeimage, .settingslabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20px;
    -fx-text-fill: #e29578;
    -fx-font-weight: bold;
}

.signinbutton, .createaccountbutton {
    -fx-background-color: #E29578;
    -fx-text-fill: #006D77;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.accountlabel, .forgotpass {
    -fx-text-fill: #000000;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
    -fx-font-weight: bold;

}

.dashlabel {
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: #EDF6F9;
}

.trackerlabel {
    -fx-text-fill: #000000;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.sidebackground {
    -fx-background-color: #EDF6F9;
}

.dashboardarea {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.addbutton, .updatebutton, .deletebutton, .clearbutton {
    -fx-background-color: #E29578;
    -fx-background-radius: 30px;
    -fx-text-fill: #000000;
    -fx-border-color: #FFDDD2;
    -fx-border-radius: 25px;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.journallabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 22px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.createaccountlabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #E29578;
}

.journaltitles {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #E29578;
}

#profileimage {
    -fx-background-image: url('images/profileicon.png');
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
}

.notif-item {
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 6;
    -fx-padding: 6 10;
}

.notif-item:hover {
    -fx-background-color: #eeeeee;
    -fx-cursor: hand;
}

.addaffirmation, .viewaffirmation, .deleteaffirmation, .randomquote, .randomaffirmation, .searchquote, .searchaffirmation {
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-background-color: #E29578;
    -fx-background-radius: 30px;
    -fx-text-fill: #000000;
    -fx-border-color: #FFDDD2;
    -fx-border-radius: 20px;
}


.quoteaffirmlabel {
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
}

.chat-user {
    -fx-background-color: #eaf5ff;
    -fx-padding: 10 12;
    -fx-background-radius: 12;
    -fx-alignment: CENTER_RIGHT;
}

.chat-ai {
    -fx-background-color: #f6f6f6;
    -fx-padding: 10 12;
    -fx-background-radius: 12;
}

.chat-system {
    -fx-text-fill: #888;
    -fx-font-size: 11px;
}
